<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="../static/css/main.css" th:ref="@{css/main.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css" th:ref="@{css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/myCss.css" th:ref="@{css/myCss.css}" />
</head>

<body>
	<div th:include="cities :: nav"></div>

<!-- Remove the comments around the following line for the demo -->

<!-- -->
	<div th:include="cities :: form"></div>
<!-- -->
	<div th:include="cities :: table"></div>
	<div th:include="cities :: pagination"></div>

</body>
</html>
